h1 {
	color: #ffffff;
}

h3 {
	color: #ffffff;
}

h4 {
	color: #ffffff;

	margin-left: 200px;

	margin-right: 200px;
}

body {
	background: linear-gradient(60deg,rgb(0, 79, 159) 60%,rgb(0, 151, 215) 100%);
	margin: 0;
	padding: 0;
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 250px;
	transition: 1s;
}

.text {
	padding-left: 25px;
	padding-right: 25px;
	color: #ffffff;
}

/*dropdown*/

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
	
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(0, 102, 179);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	color: rgb(255, 255, 255);
}

.dropdown-content a:hover {
	background-color: rgb(247, 148, 30);
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*search bar*/

#myInput {
	background-image: url(../Images/Search.png);
	background-position: 10px 10px;
	background-size: 22px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
	transition: 0.5s;
}

/* Link appearance */

a:link {
	color: rgb(0, 102, 179);
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: rgb(0, 102, 179);
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: rgb(0, 102, 179);
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: rgb(0, 102, 179);
	background-color: transparent;
	text-decoration: underline;
}

.selectedItem{
	color: rgb(247, 148, 30);
}

.notSelectedItem{
	color: rgb(255, 255, 255);
}

.navbar {
	overflow: hidden;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.15);
}

.navbar a {
	float: left;
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 3px solid transparent;
}

.navbar a.split {
	float: right;
	font-size: 16px;
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	display: block;
	border-bottom: 3px solid transparent;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

#Table {
	border-collapse: collapse;
	width: 100%;
	border: transparent;
	font-size: 18px;
}

#Table td {
	text-align: left;
	padding: 14px;
	font-size: 14px;
}

#Table th {
	text-align: left;
	padding: 14px;
	font-size: 14px;
}

#Table tr {
	border-bottom: transparent;
}

#Table tr.header, #Table tr:hover {
	background-color: #f1f1f1;
}

body {
	transition: background-color 0.5s;
}

/*sidenav */

.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(
		60deg,
		rgba(0, 0, 0, 0.15) 40%,
		rgba(255, 255, 255, 0.15) 100%
	);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	overflow-y: scroll;
}

.sidenav::-webkit-scrollbar {
	display: none;
}

/* Style the sidenav links and the dropdown button */
.sidenav a,
.dropdown-btn {
	padding: 12px 8px 8px 25px;
	text-decoration: none;
	font-size: 17px;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	color: rgb(255, 255, 255);
}

.sidenav a:hover,
.dropdown-btn:hover {
	color: rgb(247, 148, 30);
}

.sidenav a{
	color: rgb(255, 255, 255);
}

.main {
	margin-left: 200px;
	font-size: 20px;
	padding: 0px 10px;
}

.active {
	background-color: transparent;
	transition: 0.5s;
}

.dropdown-container {
	display: none;
	background-color: rgb(0, 102, 179, 0.4);
	padding-left: 8px;
	transition: 0.5s;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

/* hover tabs*/

* {
	box-sizing: border-box;
}

.tab {
	float: left;
	background-color: transparent;
	width: 30%;
	padding-left: 25px;
	max-height: 437px;
	overflow-y: scroll;
}

/*button inside the tab´s style */
.tab button {
	display: block;
	background-color: rgba(255, 255, 255, 0.15);
	color: white;
	padding: 16px 16px 16px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: auto;
	font-size: 20px;
	overflow-y: scroll;
}

.tab button::-webkit-scrollbar {
	color: aqua;
}

/*background color of buttons on hover */
.tab button:hover {
	background-color: #ffffff;
	color: rgb(0, 102, 179);
	display: block;
	transition: 0.3s;
}

.tab button.active {
	color: rgb(0, 102, 179);
	background-color: rgb(255, 255, 255);
}

.tabcontent {
	float: left;
	padding: 16px 16px 16px 16px;
	background-color: rgb(233, 233, 233, 0.85);
	background-size: 200px;
	width: 70%;
	max-height: 437px;
	display: none;
	transition: 0.5s;
	overflow-y: scroll;
}

.tabcontent::-webkit-scrollbar {
	display: none;
}

/* floats after the tab */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
