@font-face {
	font-family: 'Futura';
	src: url('./assets/font/FuturaLT.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura-Bold';
	src: url('./assets/font/FuturaLT-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: rgb(220, 220, 220);
	margin: 0;
	padding: 0;
	height: auto;
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Futura', sans-serif;	
	overflow-y: hidden;
}

.header {
	overflow: hidden;
	margin: 0;
	height: 8%;
	width: 100%;
	background-color: rgb(0, 79, 159);
	img{
		height: 22px;
	}
}

.header a {
	float: left;
	font-size: 16px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 3px solid transparent;
}

.logo{
	float: left;
	font-size: 16px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	border-bottom: 3px solid transparent;
}

.header a.split {
	float: right;
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	display: block;
	border-bottom: 3px solid transparent;
	img{
		height: 40px;
	}
}

.homeButton{
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	img{
		cursor: pointer;
	}
}

.pageTitle{
	display: flex;
	margin: 0;
	padding: 0;
	width: 15%;
	height: 32px;
	color: rgb(255, 255, 255);
	font-family: 'Futura-Bold', sans-serif;
	cursor: default;
}

.split {
	float: right;
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	display: block;
	border-bottom: 3px solid transparent;
	img{
		height: 40px;
	}
}

.searchbar {
	background-image: url(assets/images/Search.png);
	background-position: 10px 10px;
	background-size: 22px;
	background-color: rgb(38, 104, 171);
	background-repeat: no-repeat;
	color: rgb(255, 255, 255);
	width: 15%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: none;
	border-radius: 8px;
	float: right;
	margin-top: 6px;
}

::placeholder {
	color: rgb(255, 255, 255);
	opacity: 1; 
}

.sidenav {
    height: calc(100vh - 59px); 
    width: 256px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(244, 246, 248);
    overflow-x: hidden;
    overflow-y: auto; 
    padding-top: 16px;
	padding-bottom: 32px;
}

.sidenav::-webkit-scrollbar {
	display: none;
}

.sidenav a {
	padding: 8px 16px 8px 18px;
	text-decoration: none;
	font-family: 'Futura', sans-serif;
	font-size: 16px;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.sidenav a:hover,.dropdown-btn:hover {
	color: rgb(0, 79, 159);
}

.mainText{
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	padding: 12px;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: calc(30vh);
	border-radius: 16px;
	font-size: 18px;
	text-align: center;
}


#Table {
	border-collapse: collapse;
	width: 100%;
	border: transparent;
	font-size: 18px;
}

#Table td {
	text-align: left;
	padding: 14px;
	font-size: 12px;
	a{
		text-decoration: none;
	}
}

#Table th {
	text-align: left;
	padding: 14px;
	font-size: 14px;
	width: 50%;
}

#Table tr {
	border-bottom: transparent;
}

#Table tr:hover {
	background-color: rgb(220, 220, 220);
	color: rgb(0, 0, 0);
}

.tableHeader{
	background-color: rgb(200, 200, 200);
}

.selectedItem, .dropdown-selected{
	color: rgb(0, 79, 159);
}

.notSelectedItem{
	color: rgb(0, 0, 0);
}

.menuIcons{
	height: 24px;
	padding-right: 8px;
	transition: filter 0.3s ease;
}

.menuIcon path {
	fill: none;
	stroke: black;
	stroke-width: 0;
}

.footer + .sidenav {
    bottom: 8%; 
}

.dropdown-btn{
	padding: 8px 16px 8px 18px;
	font-family: 'Futura', sans-serif;
	font-size: 16px;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.dropdown-container {
	display: none;
	background-color: transparent;
	padding-left: 16px;
}

.content{
	margin-left: 256px;
	padding:0;
	height: 100vh; 
    top: 0;
}

.index{
	position: fixed;
	background-image: url(assets/images/background_img.JPG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 256px;
	height: calc(100vh - 57px); 
	width: calc(100% - 256px);
    bottom: 0;
}

.active {
	background-color: transparent;
}

.tab {
	float: left;
	background-color: transparent;
	width: 30%;
	padding-left: 32px;
	max-height: calc(100vh - 154px); 
	overflow-y: scroll;
}

.tab button {
	display: block;
	background-color: rgba(200, 200, 200);
	color: rgb(0, 0, 0);
	padding: 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: auto;
	font-size: 14px;
	overflow-y: scroll;
}

.tab button::-webkit-scrollbar {
	color: rgb(0, 0, 0);
}

.tab button:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 102, 179);
	display: block;
}

.tab button.active {
	color: rgb(0, 102, 179);
	background-color: rgb(255, 255, 255);
}

.tabcontent {
	float: left;
	padding: 16px;
	background-color: rgb(255, 255, 255);
	background-size: 200px;
	width: 70%;
	display: none;
	overflow-y: scroll;
	height: calc(100vh - 154px); 
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.footer{
	background-color: rgb(0, 79, 159);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 8%;
	color: rgb(255, 255, 255);
	text-align: center;
}

* {
	box-sizing: border-box;
}